*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --font-color:#050505;
    --white-bg:#f7f7f7;
    --orange-1:#FFAC30;
    --blue-1:rgb(55, 109, 255);
    --blue-2:#22cabf;
    --purple-1:#D253FF;
    --red-1:#ff5353;
}

html {
    scroll-behavior: smooth;
}

body {
    width:100%;
    height:100%;
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    background-color: aqua;
}


header {
    width:100%;
    height:5rem;
    position: fixed;
    display:flex;
    padding:1rem;
    z-index:10;
}



nav {
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-end;
}

nav li {
    display:inline-block;
    padding-right:1rem;
}

.animated-link {
    width: fit-content;
    display:inline-block;
    background-color: #050505;
    border-radius: 5px;
    text-decoration: none;
}

.animated-link span {
    display:inline-block;
    background-color: var(--white-bg);
    border: 3px solid black;
    color:black;
    padding: 0.5rem 1rem;
    font-size:1rem;
    font-weight:600;
    border-radius:5px;
    cursor: url(./images/hand_mouse_pointer_50px.png), auto;
    transform:translate(-2px, -2px);
    transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
}




.animated-link span:nth-child(1):hover {
    transform:translate(-6px, -6px);
    background-color: #22cabf;
    
}

.animated-link span:nth-child(2):hover {
    transform:translate(-6px, -6px);
    background-color: #c2ca22;
}


section {
    width:100%;
    height:100%;
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:3px solid black;
}

@media screen and (max-width: 800px){

    section {
        display:flex;
        flex-direction:column;  
    }
    
}

h3 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0 2rem 0;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: black 3px 3px;

}

@media screen and (max-width:950px) {
    section {
        width:100%;
        height:auto;
    }
}

#accueil {
    background-color: var(--red-1);
}

#projets {
    background-color: var(--blue-1);
}

#apropos {
    background-color: var(--orange-1);
}

#competences {
    background-color: var(--purple-1);
}

#contact {
    background-color: var(--blue-2);
}

/* ________SECTION ACCUEIL________ */

#accueil {
    width:100%;
    height:100vh;
}

/* ________SECTION ACCUEIL________ */

.hand__down {
    width:100px;
    height:100px;
    position:absolute;
    bottom:30px;
    left:50%;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

.hand__down img {
    width:100%;
    height:100%;
    object-fit: cover;
    transform:rotate(-147deg);
    
}




/* ________SECTION PROJETS________ */

.projets__container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row wrap;
}


.card__contour {
    width: 255px;
    /* min-width: 15rem; */
    height: 400px;
    margin: 2rem;
    display: inline-block;
    background-color: #050505;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    
}

@media screen and (max-width:400px) {
    .card__contour {
        min-width: 100%;
    }
     
}

.projets__container__cards {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    background-color: var(--white-bg);
    border: 4px solid black;
    color:black;
    /* padding: 0.5rem 1rem; */
    font-size:1rem;
    font-weight:600;
    border-radius:6px;
    cursor: url(./images/hand_mouse_pointer_50px.png), auto;
    transform: translate(-10px, -10px);
    transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
}

.projets__container__cards:hover {
    transform:translate(0px, 0px);
    border: 4px solid black;
    background-color: #22cabf;
}

.card__img__container {
    width:100%;
    height:45%;
    border-radius:6px;
}

.card__img__container img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.card__description__container {
    padding: 0.9rem;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.card__description__container p {
    font-weight: 400;
    font-size: 0.8rem;
}


.bloc__container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}

.html__bloc,
.css__bloc,
.js__bloc,
.wordpress__bloc {
    width:30%;
    padding:0.3rem;
    border:2px solid black;
    border-radius:2px;
    text-align: center;
    font-size: 0.8rem;
}

.html__bloc {
    background-color: var(--orange-1);
}
.css__bloc {
    background-color: var(--blue-2);
}
.js__bloc {
    background-color: var(--purple-1);
}
.wordpress__bloc {
    width:fit-content;
    background-color: var(--blue-1);
    display:flex;
    justify-self: center;
    
}


/* ________SECTION PROJETS________ */


/* ________SECTION A PROPOS________ */

.apropos__container {
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 800px){

    .apropos__container {
        height:auto;
        flex-direction:column-reverse; 
    }
    
}

.text__apropos__container,
.photo__apropos__container {
    margin:2rem;
    display:flex;
    flex-direction: column;
    text-align: left;
}

.text__apropos__container {
    width:60%;
    
}


.photo__apropos__container {
    width:40%;
    
}

@media screen and (max-width: 800px){

    .text__apropos__container,
    .photo__apropos__container {
        width:80%;
    }
    
}

.titre__apropos{
    margin: 0.5rem 0 0 0;
    font-size: 2rem;
    font-weight: 600;
}

.text__apropos{
    margin: 2rem 0 2rem 0;
    font-size: 0.9rem;
}


.photo__apropos__container{
    justify-content: center;
    align-items: center;
    
}

.photo__apropos__container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.cadre__photo {
    width:23rem;
    height:27rem;
    /* transform: rotate(30deg); */
    background-color: var(--purple-1);
    border: 4px solid black;
    border-radius:50%;

}


/* ________SECTION A PROPOS________ */


/* ________SECTION COMPETENCES________ */

.competences__container {
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 800px){

    .competences__container {
        height:auto;
        flex-direction:column-reverse; 
    }
    
}

@media screen and (max-width: 800px){

    .icons__competences__container,
    .text__competences__container {
        width:80%;
    }
    
}

.text__competences__container {
    padding:2rem;
    display:flex;
    flex-direction: column;
    text-align: left;
}

.titre__competences{
    margin: 0.5rem 0 0 0;
    font-size: 2rem;
    font-weight: 600;
}

.text__competences{
    margin: 2rem 0 2rem 0;
    font-size: 0.9rem;
}


.icons__competences__container{
    width:100%;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    margin:2rem;
    
}


.competences__contour {
    width: 300px;
    height: 350px;
    margin: 2rem;
    display: inline-block;
    background-color: #050505;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    
}



@media screen and (max-width:400px) {
    
    .competences__contour {
        min-width: 100%;
    }
     
}


.competences__container__cards {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-bg);
    border: 4px solid black;
    color:black;
    font-size:1rem;
    font-weight:600;
    border-radius:6px;
    transform: translate(-10px, -10px);
    
}

.competences__container__cards h4{
    font-size:1rem;
    font-weight:600;
    margin:0rem 1rem 0.5rem 0rem;
    text-align: center;
}

.competences__container__cards p{
    font-size:0.9rem;
    font-weight:400;
    
}


.competences__description__container {
    width:100%;
    border-bottom: 4px solid black;
    text-align: center;
    padding:0.5rem;
    background-color: var(--blue-2);
}

.competences__description__container p {
    font-size: 1.3rem;
    font-weight: 700;
}

.icon__competences {
    width:100%;
    height:40%;
    text-align: center;
    padding:1rem;
}

.icon__competences img{
    width:40%;
    height:auto;
    object-fit: cover;
}

.text__competences__cards {
    width:100%;
    height:50%;
    padding:0rem 1rem;
    display:flex;
    flex-direction: column;
    text-align: left;
}


.icons__row__container{
    justify-content: space-around;
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}





/* ________SECTION COMPETENCES________ */




/* ________SECTION CONTACT________ */


.contact__container {
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact__contour {
    width: 700px;
    height: 350px;
    margin: 2rem;
    display: inline-block;
    background-color: #050505;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    display: flex;    
}



@media screen and (max-width:400px) {
    
    .contact__contour {
        min-width: 100%;
    }
     
}


.contact__container__card {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-bg);
    border: 4px solid black;
    color:black;
    font-size:1rem;
    font-weight:600;
    border-radius:6px;
    transform: translate(-10px, -10px);
    
}

.titre__contact {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    
}

.contact__email {
    font-size: 2rem;
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    text-decoration: none;
    color: var(--blue-1);
    -webkit-text-fill-color: var(--red-1);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--blue-1);
    text-shadow: var(--blue-1) 3px 3px;
}

.contact__email:hover {
    cursor:pointer;
    color: #FFAC30;
    transform: rotate(10deg);
    transition: ease-in 0.3s;

}

.contact__icons {
    width:50px;
    height:50px;
    margin:1rem;
}

.contact__icons img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.reseaux {
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}

.reseaux ul {

    list-style-type: none;
}

.reseaux li {
    display: inline-block;
    list-style-type: none;
    padding:1rem;
    color:#000000;
    font-size: 2rem;
    font-weight:400;
}


form {
    display:flex;
    flex-direction: column;
    -ms-flex: 100%;
    flex: 100%;
    width: 80%;
    padding: 1em;

}
form input {
    width: 100%;
    border:none;
    padding:1rem;

}

textarea {
    width:100%;
    height:100%;
    border:none;
    padding:1rem;
    
}

label {
    margin-bottom:1rem;
    font-weight:700;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.input__line {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.label__input {
    width:100%;
    display:flex;
    flex-direction: column;
    margin:1rem 1rem 1rem 0rem;
}

@media screen and (max-width:800px) {

    .input__line {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .label__input {
        width:100%;
        display:flex;
        flex-direction: column;
    }
}


.animated-input {
   
    display:inline-block;
    background-color: #050505;
    border-radius: 5px;
    text-decoration: none;
}

.subject{
    width:100%; 
    height:300px;
    margin-bottom:2rem;
}

.animated-input span {
    width:100%;
    height: 100%;
    display:inline-block;
    background-color: var(--white-bg);
    border: 3px solid black;
    color:black;
    font-size:1rem;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
    transform:translate(-10px, -10px);
    transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
}

.animated-input span:nth-child(1):hover {
    transform:translate(-2px, -2px);
    background-color: var(--orange-1);
    
}


textarea:focus, input:focus{
    outline: none;
    border-radius: 5px;
}

.submit {
    font-size: 1rem;
    font-weight:700;
    color:black;
    cursor: url(./images/hand_mouse_pointer_50px.png), auto;

}




/* ________SECTION CONTACT________ */

/* ________SECTION FOOTER________ */

footer {
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}

.container__mentions {
    /* background-color: #c2ca22; */
    display:flex;
    font-weight: 600;
    
}

.container__mentions a {
    text-decoration: none;
    
}

/* ________SECTION FOOTER________ */


