*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --font-color:#050505;
    --white-bg:#f7f7f7;
    --orange-1:#FFAC30;
    --blue-1:rgb(55, 109, 255);
    --blue-2:#22cabf;
    --purple-1:#D253FF;
    --red-1:#ff5353;
    --main-font-size:1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    width:100%;
    height:100%;
    font-family:'Poppins', sans-serif;
    font-size: var(--main-font-size);
    background-color: aqua;
}

/* //PAGE ACCUEIL// */

.h1__container {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0 2rem 0;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: black 5px 5px;
}

.h2__container {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0 2rem 0;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: black 5px 5px;
}


@media screen and (max-width:550px) {

    .h2__container {
    font-size: 2rem;
    }
}



header {
    width:100%;
    height:5rem;
    position: fixed;
    display:flex;
    padding:1rem;
    z-index:100;
}

/* NAV DESKTOP */

nav {
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-end;
}

@media screen and (max-width:550px){
    nav {
        display:none;
    }
    
}

nav li {
    display:inline-block;
    padding-right:1rem;
}


.animated-link {
    width: fit-content;
    display:inline-block;
    background-color: #050505;
    border-radius: 5px;
    text-decoration: none;
    cursor:url(./images/hand_mouse_pointer_50px.png), auto;
}

.animated-link span {
    display:inline-block;
    background-color: var(--white-bg);
    border: 3px solid black;
    color:black;
    padding: 0.5rem 1rem;
    font-size:1rem;
    font-weight:600;
    border-radius:5px;
    cursor: url(./images/hand_mouse_pointer_50px.png), auto;
    transform:translate(-2px, -2px);
    transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
}


.animated-link span:nth-child(1):hover {
    transform:translate(-6px, -6px);
    background-color: #22cabf;
    
}

.animated-link span:nth-child(2):hover {
    transform:translate(-6px, -6px);
    background-color: #c2ca22;
}

/* FIN NAV DESKTOP */

 /* //PAGE NAV MOBILE // */
 .hamburger {
    position:relative;
    display:block;
    width:45px;
    height:45px;
    padding:3px;
    cursor: pointer;
    background-color: var(--white-bg);
    border-radius: 5px;
    border:4px solid black;
    z-index:110;
    display:none;
    
}

@media screen and (max-width:550px){
    .hamburger{
        display:block;
        position:fixed;
        top:1rem;
        right:1rem;

    }
    
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
    content:'';
    display:block;
    width:100%;
    height:4px;
    background-color: #050505;
    margin:5px 0px;
    transition:0.4s;
    
}

.hamburger.is-active .bar1 {
    transform:rotate(-45deg) translate(-6px, 6px);
}

.hamburger.is-active .bar3 {
    transform:rotate(45deg) translate(-7px, -6px);
}

.hamburger.is-active .bar2 {
    opacity:0;
}

.mobile-nav {
    position:fixed;
    top:0;
    left:100%;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    z-index:50;
    background-color:var(--purple-1);
    border: 5px solid black;
    transition:0.4s;
}

.mobile-nav.is-active {
    left:0;
}



.mobile-nav .ul__nav {
    display:flex;
    flex-direction: column;
    justify-self: space-around;
    text-align: center;
    
}

.mobile-nav .ul__nav li{
    margin:2rem auto;
    
}

     
      /* //FIN PAGE NAV MOBILE // */



section {
    width:100%;
    height:100%;
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:3px solid black;
}

@media screen and (max-width: 800px){

    section {
        display:flex;
        flex-direction:column;
        padding:1rem; 
    }
    
}

.h3__container {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0 1rem 0;
    color: black;
    -webkit-text-fill-color: var(--white-bg);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: black 3px 3px;
}

@media screen and (max-width:500px) {
    .h3__container {
        font-size: 2rem;
        
    }
}

.strong {
    display:inline-block;
    font-size: 1.4rem;
    font-weight: 900;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: black 2px 2px;
}

.outlined {
    display:inline-block;
    font-size: 1.8rem;
    font-weight: 900;
    color:var(--blue-2);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: black 2px 2px;
}


@media screen and (max-width:950px) {
    section {
        width:100%;
        height:auto;
    }
}

#accueil {
    background-color: var(--red-1);
}

#projets {
    background-color: var(--blue-1);
}

#apropos {
    background-color: var(--orange-1);
}

#competences {
    background-color: var(--purple-1);
}

#contact {
    background-color: var(--blue-2);
}

/* ________SECTION ACCUEIL________ */

#accueil {
    width:100%;
    height:100vh;
}

/* ________SECTION ACCUEIL________ */
.smile-up {
    position:absolute ;
    top: 8%;
    right: 71%;
    -webkit-animation: infiniteRotateReverse 1s infinite  alternate;
    animation: infiniteRotateReverse 1s infinite  alternate;

}

@media screen and (max-width:450px) {
    .smile-up {
        top: 3%;
        right: 44%;
    }
}

.smile-down {
    position:absolute ;
    top: 31%;
    right: 5%;
    -webkit-animation: infiniteRotate 1s infinite  alternate;
    animation: infiniteRotate 1s infinite  alternate;
}
@media screen and (max-width:450px) {
    .smile-down {
        top: 69%;
        right: 8%;
    }
}

.smile-botleft {
    position:absolute ;
    bottom: 10%;
    left: 5%;
    -webkit-animation: infiniteRotate 1s infinite  alternate;
    animation: infiniteRotate 1s infinite  alternate;
}


.hand__down {
    width:80px;
    height:80px;
    position:absolute;
    bottom:30px;
    left:50%;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@media screen and (max-width:950px) {
    .hand__down {
        width: 60px;
        height: 60px;
        left: 45%;
    }
    
}


@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

.hand__down img {
    width:100%;
    height:100%;
    object-fit: cover;
    transform:rotate(-147deg);
    
}






/* ________SECTION PROJETS________ */

.projets__container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row wrap;
    position:relative;
}


.card__contour {
    width: 280px;
    /* min-width: 15rem; */
    height: 400px;
    margin: 2rem;
    display: inline-block;
    background-color: #050505;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    
}

@media screen and (max-width:400px) {
    .card__contour {
        min-width: 100%;
    }
     
}

.projets__container__cards {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    background-color: var(--white-bg);
    border: 4px solid black;
    color:black;
    /* padding: 0.5rem 1rem; */
    font-size:var(--main-font-size);
    font-weight:600;
    border-radius:6px;
    cursor: url(./images/hand_mouse_pointer_50px.png), auto;
    transform: translate(-10px, -10px);
    transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
    text-decoration: none;
}

.projets__container__cards:hover {
    transform:translate(0px, 0px);
    border: 4px solid black;
    background-color: #22cabf;
}

.card__img__container {
    width:100%;
    height:45%;
    border-radius:6px;
}

.card__img__container img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.card__description__container {
    padding: 0.9rem;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h4 {
    font-size:1.1rem ;
}


.card__description__container p {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0rem 0 1rem;
}


.bloc__container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}

.html__bloc,
.css__bloc,
.js__bloc,
.wordpress__bloc,
.figma__bloc {
    width:30%;
    padding:0.3rem;
    border:2px solid black;
    border-radius:3px;
    text-align: center;
    font-size: 0.8rem;
}

.html__bloc {
    background-color: var(--red-1);
}
.css__bloc {
    background-color: var(--blue-2);
}
.js__bloc {
    background-color: var(--orange-1);
}
.wordpress__bloc {
    width:fit-content;
    background-color: var(--blue-1);
    display:flex;
    justify-self: center;
    
}
.figma__bloc {
    background-color: var(--purple-1);
    
    
}


/* ________SECTION PROJETS________ */


/* ________SECTION A PROPOS________ */

.apropos__container {
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1200px){

    .apropos__container,
    .presentation__container {
        height:auto;
        flex-direction:column-reverse; 
    }
    
}

.text__apropos__container,
.photo__apropos__container {
    margin:2rem;
    display:flex;
    flex-direction: column;
    
}

.text__apropos__container {
    width:60%;
}


.photo__apropos__container {
    width:40%;

}

@media screen and (max-width: 950px){

    .text__apropos__container {
        width:90%;
    }

    .photo__apropos__container {
        width:90%;
        padding:1rem;
    }
    
}

.titre__projets{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem;
    text-align: justify;
}

.titre__apropos{
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
   
}

.text__apropos{
    margin: 2rem 0 2rem 0;
    font-size: var(--main-font-size);
    text-align: justify;
    line-height:2rem;
}

.photo__apropos__container{
    width:23rem;
    height:27rem;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.photo__apropos__container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}


.icon__para {
    width:55px;
    position:absolute ;
    top:0;
    right:0;
}

#bulle {
    position:absolute ;
    top:17%;
    right:7%;
    -webkit-animation: moverdown 1s infinite  alternate;
    animation: moverdown 1s infinite  alternate;
}
@keyframes moverdown {
    100% { transform: translateY(0); }
    0% { transform: translateY(-20px); }
}


#hand {
    position:absolute ;
    top: 46%;
    right: 85%;
    -webkit-animation: moverup 0.8s infinite  alternate;
    animation: moverup 0.8s infinite  alternate;
}
@keyframes moverup {
    100% { transform: translateY(0); }
    0% { transform: translateY(20px); }
}

#shine {
    position:absolute ;
    top: 74%;
    right: 10%;
    -webkit-animation: moverslow 1.3s infinite  alternate;
    animation: moverslow 1.3s infinite  alternate;
}

@keyframes moverslow {
    100% { transform: translateY(0); }
    0% { transform: translateY(20px); }
}



/* ________SECTION A PROPOS________ */


/* ________SECTION COMPETENCES________ */

.competences__container {
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 800px){

    .competences__container {
        height:auto;
        flex-direction:column; 
    }
    
}

@media screen and (max-width: 800px){

    .icons__competences__container,
    .text__competences__container {
        width:80%;
    }
    
}

.text__competences__container {
    padding:2rem;
    display:flex;
    flex-direction: column;
    text-align: left;
}

@media screen and (max-width:800px) {
    .text__competences__container {
        padding:0;
        
    }  
}


.separation {
    margin:2rem;
}

.competences-col {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width:1200px){
    .competences-col {
        width:100%;
        flex-direction: column;
        justify-content: center;
    }
}

.cols-white {
    width:35rem;
    background-color: var(--white-bg);
    border: 5px solid black;
    border-radius: 5px;
    margin:2rem;
}
@media screen and (max-width:1200px){
    .cols-white {
        width:100%;
        margin:2rem 0;
    }
}

.titre__conception,
.titre__realisation {
    width: 100%;
    border-bottom: 4px solid black;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--orange-1);
}

.titre__conception p,
.titre__realisation p {
    font-size: 1.3rem;
    font-weight: 700;
}

.titre__competences{
    margin: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.text__competences{
    margin: 2rem;
    font-size: var(--main-font-size);
}


.icons__competences__container{
    width:100%;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    margin:2rem;
    
}


.competences__contour {
    width: 300px;
    height: 350px;
    margin: 2rem;
    background-color: #050505;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    
}



@media screen and (max-width:400px) {
    
    .competences__contour {
        width: 100%;
    }
     
}


.competences__container__cards {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-bg);
    border: 4px solid black;
    color:black;
    font-size:var(--main-font-size);
    font-weight:600;
    border-radius:6px;
    cursor: url(./images/hand_mouse_pointer_50px.png), auto;
    transform: translate(-10px, -10px);
    transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
    text-decoration: none;
    
}

.competences__container__cards:hover {
    transform:translate(0px, 0px);
    border: 4px solid black;
    /* background-color: var(--red-1); */
}

.competences__container__cards h4{
    font-size:var(--main-font-size);
    font-weight:600;
    margin:0rem 1rem 0.5rem 0rem;
    text-align: center;
}

.competences__container__cards p{
    font-size:0.9rem;
    font-weight:400;
    
}


.competences__description__container {
    width:100%;
    border-bottom: 4px solid black;
    text-align: center;
    padding:0.5rem;
    background-color: var(--blue-2);
}

.competences__description__container p {
    font-size: 1.3rem;
    font-weight: 700;
}

.icon__competences {
    width:100%;
    height:40%;
    text-align: center;
    padding:1rem;
}

.icon__competences img{
    width:40%;
    height:auto;
    object-fit: cover;
}

.text__competences__cards {
    width:100%;
    height:50%;
    padding:0rem 1rem;
    display:flex;
    flex-direction: column;
    text-align: left;
}


.icons__row__container{
    justify-content: space-around;
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}





/* ________SECTION COMPETENCES________ */




/* ________SECTION CONTACT________ */


.contact__container {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}


.contact__contour {
    width: 700px;
    height: 350px;
    margin: 2rem;
    display: inline-block;
    background-color: #050505;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    display: flex;    
}



@media screen and (max-width:400px) {
    
    .contact__contour {
        min-width: 100%;
    }
     
}


.contact__container__card {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-bg);
    border: 4px solid black;
    color:black;
    font-size:var(--main-font-size);
    font-weight:600;
    border-radius:6px;
    transform: translate(-10px, -10px);
    
}

.titre__contact {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    
}

.contact__email {
    font-size: 2rem;
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    text-decoration: none;
    color: var(--blue-1);
    -webkit-text-fill-color: var(--red-1);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--blue-1);
    text-shadow: var(--blue-1) 3px 3px;
}

.contact__email:hover {
    cursor:pointer;
    color: #FFAC30;
    transform: rotate(10deg);
    transition: ease-in 0.3s;

}

.contact__icons {
    width:50px;
    height:50px;
    margin:1rem;
}

.contact__icons img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.reseaux {
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}

.reseaux ul {

    list-style-type: none;
}

.reseaux li {
    display: inline-block;
    list-style-type: none;
    padding:1rem;
    color:#000000;
    font-size: 2rem;
    font-weight:400;
}


form {
    display:flex;
    flex-direction: column;
    width: 70%;
    padding: 1em;

}

@media screen and (max-width:750px) {
    form {
        width:100%;
    }

}

form input {
    width: 100%;
    border:none;
    padding:1rem;

}

textarea {
    width:100%;
    height:100%;
    border:none;
    padding:1rem;
    
}

label {
    margin-bottom:1rem;
    font-weight:700;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.input__line {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.label__input {
    width:100%;
    display:flex;
    flex-direction: column;
    margin:0rem 1rem 1rem 0rem;
}

@media screen and (max-width:800px) {

    .input__line {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .label__input {
        width:100%;
        display:flex;
        flex-direction: column;
    }
}


.animated-input {
   
    display:inline-block;
    background-color: #050505;
    border-radius: 5px;
    text-decoration: none;
}

.subject{
    width:100%; 
    height:200px;
    margin-bottom:2rem;
}

.animated-input span {
    width:100%;
    height: 100%;
    display:inline-block;
    background-color: var(--white-bg);
    border: 3px solid black;
    color:black;
    font-size:1rem;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
    transform:translate(-10px, -10px);
    transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
}

.animated-input span:nth-child(1):hover {
    transform:translate(-2px, -2px);
    background-color: var(--orange-1);
    
}


textarea:focus, input:focus{
    outline: none;
    border-radius: 5px;
}

.submit {
    font-size: 1rem;
    font-weight:700;
    color:black;
    cursor: url(./images/hand_mouse_pointer_50px.png), auto;

}




/* ________SECTION CONTACT________ */

/* ________SECTION FOOTER________ */

footer {
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}

.container__mentions {
    /* background-color: #c2ca22; */
    display:flex;
    font-weight: 600;
    
}

.container__mentions a {
    text-decoration: none;
    
}

/* ________SECTION FOOTER________ */





/* ________PAGES DESCRIPTION PROJETS________ */

.accueil__presentation {
    height:100vh;
    background-color: var(--red-1);
    position: relative;
}

.visuel {
    background-color: var(--blue-1);
    align-items: center;
}

.mockup {
    width:50%;
    height:auto;
    position:relative;
    margin:2rem;
}

@media screen and (max-width:450px){
    .mockup {
        width:80%;
        
    }
}

.mockup img{
    width:100%;
    height:100%;
    object-fit: contain;
    
}

.presentation {
    background-color: var(--orange-1);
    width:100%;
    padding:2rem;
    width:100%;
    height:auto;

}

@media screen and (max-width:1200px){
    .presentation {
        width:100%;
    }  
}




.titre__presentation {
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
}


/* -----ANIM main droite------- */
.hand__right {
    width: 100px;
    -webkit-animation: right 1s infinite alternate;
    animation: right 1s infinite alternate;
    position: relative;
    left: 8%;
    z-index: 2;
}

@keyframes right {
    0% { transform: translateX(0); }
    100% { transform: translateX(-30px); }
}

.hand__right img {
    width:100%;
    height:100%;
    object-fit: cover;
    transform:rotate(125deg);
    
}


.titre__projet__sites {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0 2rem 0;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: black 5px 5px;
}

@media screen and (max-width:450px){

    .titre__projet__sites {
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        margin: 0 0 2rem 0;
        color: black;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        text-shadow: black 5px 5px;
    }
    
}



.presentation__container {
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    margin:2rem 0 2rem 0;
}



.text__presentation{
    margin: 1rem 0 3rem 0;
    font-size: var(--main-font-size);
    text-align: justify;
    line-height:2rem;
    
}

.photo__presentation__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.text__presentation__container,
.photo__presentation__container {
    width:50%;
    padding:1rem;
}

.photo__presentation__container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

@media screen and (max-width:1200px){

    .text__presentation__container,
    .photo__presentation__container{
        width: 100%;
        padding:2rem 0;
    } 
    
}



.card__contour__clique {
    position:relative;
    width: 100%;
    margin: 2rem;
    display: inline-block;
    background-color: #050505;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:450px){
    .card__contour__clique {
        margin:0;
    }
}


.cadre__photo__clique {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    border: 4px solid black;
    transform: translate(-10px, -10px);
    transition:
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
}



.cadre__photo__clique:hover {
    transform: translate(-2px, -2px);

}

.cadre__photo__clique img {
    width:100%;
    height:100%;
    object-fit: cover;

}

.cadre__photo__clique a{
    text-decoration: none;
    line-height:0;
    cursor: url(./images/hand_mouse_pointer_50px.png), auto;

}



.click {
    display:inline-block;
    background-color: var(--blue-2);
    border: 3px solid black;
    color:black;
    padding: 0.5rem 1rem;
    font-size:var(--main-font-size);
    font-weight:600;
    border-radius:5px;
    width:fit-content;
    position:absolute;
    top: -12%;
    left: 68%;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;

}

@media screen and (max-width:450px){
    .click {
        top: -25%;
        left: 57%;
    }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


.list__presentation  {
    width: 500px;
    display: inline-block;
    background-color: var(--white-bg);
    border-radius: 5px;
    border: 4px solid black;
    text-decoration: none;
    padding: 1rem;
}


.list__presentation__col {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 1rem;
}

.list__presentation__col ul{
    width: 100%;
    height: auto;
    display: flex;
    margin: 1rem 0 0;
}



.html__bloc__presentation,
.css__bloc__presentation,
.js__bloc__presentation,
.wordpress__bloc__presentation,
.figma__bloc__presentation {
    width: 100px;
    padding: 0.3rem;
    border: 2px solid black;
    border-radius: 3px;
    text-align: center;
    font-size: 0.8rem;
    margin: 0 1rem 0 0;
}

.html__bloc__presentation {
    background-color: var(--red-1);
}
.css__bloc__presentation {
    background-color: var(--blue-2);
}
.js__bloc__presentation {
    background-color: var(--orange-1);
}
.wordpress__bloc__presentation {
    width:fit-content;
    background-color: var(--blue-1);
    display:flex;
    justify-self: center;
    
}
.figma__bloc__presentation {
    background-color: var(--purple-1);

}

.bloc {
    list-style-type: none;
    margin:0rem 0 1rem 0rem;
}

/* SMILEYS ACCUEIL VISUEL ET CONTACT */


.smileys {
    width:55px;
    z-index:20;
    /* position:absolute ;
    top:0;
    right:0; */
}

.smileys img{
    width:100%;
}

.smile-right {
    position:absolute ;
    top: -7%;
    right: 10%;
    -webkit-animation: infiniteRotateReverse 1s infinite  alternate;
    animation: infiniteRotateReverse 1s infinite  alternate;

}

@media screen and (max-width:450px) {
    .smile-right {
        position:absolute ;
        top: -9%;
right: 2%;
    }
    
}



@-webkit-keyframes infiniteRotateReverse {    
        0% { -webkit-transform: rotate(360deg); }
        100% { -webkit-transform: rotate(0deg); }
    }


.smile-left {
    position:absolute ;
    top: -7%;
    right: 89%;
    -webkit-animation: infiniteRotate 1s infinite  alternate;
    animation: infiniteRotate 1s infinite  alternate;
}

@media screen and (max-width:450px) {
    .smile-left {
        position:absolute ;
        top: -9%;
        right: 82%;
    }
    
}

@-webkit-keyframes infiniteRotate {    
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}


.flamme {
    position:absolute ;
    top: 1%;
    right: 2%;
    -webkit-animation: moverup 1s infinite  alternate;
    animation: moverup 1s infinite  alternate;
}

@media screen and (max-width:450px) {
    .flamme {
        width:30px;
        position:absolute ;
        top: 0%;
        right: 0%;
    }
    
}

.scale-up {
    -webkit-animation: scaleUp 1s infinite  alternate;
    animation: scaleUp 1s infinite  alternate;
}
@keyframes scaleUp {
    100% { transform: scale(1); }
    0% { transform: scale(0.3); }
}

.scale-down {
    -webkit-animation: scaleDown 1s infinite  alternate;
    animation: scaleDown 1s infinite  alternate;
}
@keyframes scaleDown {
    100% { transform: scale(0.5); }
    0% { transform: scale(1.3); }
}

.up {
    position:absolute ;
    top: 9%;
    left: 5%;
}

.down {
    position:absolute ;
    bottom: 6%;
    right: 10%;
}

.right {
    position:absolute ;
    top: 26%;
    right: 27%;
}



.left {
    position:absolute ;
    top: 66%;
    left: 22%;
}

@media screen and (max-width:450px) {

    .right {
        position:absolute ;
        top: 18%;
        right: 8%;
    }

    .left {
        position:absolute ;
        top: 69%;
        left: 10%;
    }

}


.stars-up {
    position:absolute ;
    top: 0%;
    left: 6%;
    -webkit-animation: moverdown 1s infinite  alternate;
    animation: moverdown 1s infinite  alternate;
}

@media screen and (max-width:450px) {
    .stars-up {
        width: 40px;
        position: absolute;
        top: 0%;
        left: 1%;
    }
    
}

.stars-down {
    position:absolute ;
    top: 90%;
    right: 0%;
    -webkit-animation: moverup 1s infinite  alternate;
    animation: moverup 1s infinite  alternate;
}
@media screen and (max-width:450px) {
    .stars-down {
        width:40px;
        position:absolute ;
        top: 97%;
        right: 0%;
    }
    
}


@keyframes moverdown {
    100% { transform: translateY(0); }
    0% { transform: translateY(-20px); }
}

@keyframes moverup {
    100% { transform: translateY(-20px); }
    0% { transform: translateY(0); }
}

    /* PAGE ILLUSTRATION */

    .illustrations__container {
        width:100%;
        padding:2rem;
        height: auto;
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
    }

    .illu {
        width:40%;
        height:auto;
        margin:1rem;
    }
    
    @media screen and (max-width:450px) {

        .illustrations__container {
            padding:1rem;
        }

        .illu {
            width:100%;
            height:auto;
           
        }
        
    }


    .illu img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
